/*======================
    404 page
=======================*/


.page_404 { 
    padding:40px 0; 
    background:#fff;
}

.page_404  img{ 
    width:100%;
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
 
 
 .four_zero_four_bg h1 {
    font-size: 10vw;
    font-weight: 800;
}
 
.four_zero_four_bg h3 {
    font-size:80px;
}
			 
.link_404 {			 
	color: #fff!important;
    padding: 1em 4em;
    background: #2173ed;
    margin: 20px 0;
    display: inline-block;
    border-radius: 35px;
    font-size: 1.5em;
    font-weight: 900;
}

.content_box_404 { 
    margin-top:-50px;
}

.content_box_404 p {
    letter-spacing: 0.2px;
    font-size: 1.5em;
    /* line-height: 1em; */
    font-weight: 400;
    margin-top: 5vh;
    margin-bottom: 1vh;

}

.content_box_404 h3 {
    font-size: 4em;
    font-weight: 900;
}