/* Containers */
.slides-container-web {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  display: block;
  visibility: visible;
}

.slides-container-tab {
  display: none;
  visibility: hidden;
}

.slides-container-mob {
  display: none;
  visibility: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}




/* Hero */
.slides-container-web .hero__banner {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  top: 0em;
}

.slides-container-web .hero__avatar_web {
  display: block;
  position: absolute;
  bottom: -30px;
  right: -60px;
  transform: rotate(-5deg);
  height: 40vh;
  z-index: 1;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /*background: #f1f3f6;*/
  background: url(../assets/image/grid.svg),
              url(../assets/image/grid.svg),
              url(../assets/image/grid.svg),
              url(../assets/image/grid.svg),
              url(../assets/image/grid.svg),
              url(../assets/image/grid.svg), 
              url(../assets/image/grid.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center left, 9em center, 18em center, center bottom, left 20em, left 10em, 43em bottom;
  background-color: #f1f3f6;
}

.hero h1 {
  font-size: 6vw;
  font-weight: 800;
  color:#666;
  /*color: #f1f3f6;
  text-shadow: 5px 8px 10px #d5d5d5, -5px -4px 10px #fdfdfdfd;*/
  width: min-content;
  top: 6vh;
  left: 0.6em;
  margin: 5vh 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin-left: 3em;
}

.hero__content .hero__label, 
.hero__content .hero__action {
  
  position: initial;
}

.hero__label {
  position: absolute;
  line-height: 1.2;
}

.hero__label__first, .hero__label__second, .hero__label__third {
  
  position: relative;
}

.hero__label__text {
  
  opacity: 0;
}

.hero__label__bg1, .hero__label__bg2, .hero__label__bg3 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);
}

.hero__label__bg1 {
  
  background-color: #44FFD2;
}

.hero__label__bg2 {
  
  background-color: #87F6FF;
}

.hero__label__bg3 {
  
  background-color: #0066ff;
}

.hero__action {
  position: absolute;
  bottom: 3em;
  left: 2em;

  background: #f1f3f6;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  outline: none;


  width: 12em;
  height: 5rem;

  font: 1.5em Montserrat;
  letter-spacing: 0.05em;
}

.hero__action span {
  display: flex;
  justify-content: center;
  padding: 1.2em;
  color: #2173ed;
  font-weight: 800;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 1.2em;
}

.hero__action {
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  transition: box-shadow 399ms ease-in-out;
}

.hero__action:hover {
  
  box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.hero__scroll {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  right: -3em;
  top: 12em;
  transform: rotate(-90deg);
}

.hero__scroll a {
  margin: 0;
  margin-left: -2rem;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  display: inline-flex;
  text-decoration: none;
  color: #333;
}



/* Avatar animation */

#Eyebrow_Left, 
#Eyebrow_Left_Tab,
#Eyebrow_Left_Mob, 
#Eyebrow_Right, 
#Eyebrow_Right_Tab,
#Eyebrow_Right_Mob {
  
  animation: raise 1s ease-in-out infinite alternate;
}

@keyframes raise {
  from{
    transform: translateY(-2%);
  }
  to{
    transform: translateY(0%);
  }
}

#Avataaar_Container, 
#Avataaar_Container_Tab, 
#Top_Mob, 
#Body_Mob, 
#Face_Mob {
  animation: move 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes move {
  from{
    transform: rotate(1deg;)
  }
  to{
    transform: rotate(-1deg);
  }
}


#Rocket {
  animation: fly 1s ease-in-out infinite alternate;
  padding: 0;
  margin-right: 3%;

}

@keyframes fly {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}





/* Gallery */

.gallery {
  height: 100vh; 
  z-index:1; 
  overflow: hidden; 
  position: relative;
}

.gallery__container {
  display: flex;
  flex-direction: row;
}

.gallery__container_tab {
  display: flex;
  flex-direction: row;
}

.gallery__banner {
  transform: rotate(270deg);
  position: absolute;
  right: -10%;
  top: 15em;
  height: auto;
  width: 21vw;
}

.card {
  width: 310px;
  height: 420px;
  border-radius: 10px;
  margin: 0px auto;
  margin-top: 5vh;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card img {
  position: absolute;
  top: 0%;
  left: -60%;
  opacity: 0.9;
}

.card__content {
  width: 40vw;
  height: 100vh;
  background: url(../assets/image/grid.svg);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: center left;
  background-color: #f1f3f6 /*chartreuse*/;
}

.card__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-top: -5vh;
}

.card__action .button {
  padding: 20px 80px 20px 80px;
  margin-top: 10vh;
  border-radius: 50px;
  background: #f1f3f6;
}

.card__action .button {
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  transition: box-shadow 399ms ease-in-out;
}

.card__action .button:hover {
  
  box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.card__action span {
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
}

.card__action a {
  text-decoration: none;
  color: #2173ED;
  font-weight: 700;

}

#slide-2 > div:nth-child(1) > div.card__content.flex-container.col.align-center.center > lottie-player,
#slide-2 > div:nth-child(2) > div.card__content.flex-container.col.align-center.center > lottie-player,
#slide-2 > div:nth-child(3) > div.card__content.flex-container.col.align-center.center > lottie-player,
#slide-2 > div:nth-child(4) > div.card__content.flex-container.col.align-center.center > lottie-player {
  width: 40vw;
  height: auto;
}


#slide-2 > div:nth-child(1) > div.card__content.flex-container.col.align-center.center > div > a > span:after,
#slide-2 > div:nth-child(2) > div.card__content.flex-container.col.align-center.center > div > a > span:after,
#slide-2 > div:nth-child(3) > div.card__content.flex-container.col.align-center.center > div > a > span:after,
#slide-2 > div:nth-child(4) > div.card__content.flex-container.col.align-center.center > div > a > span:after {
  content: "Open Project.";
  color: #2173ED;
  font-weight: 700;
}

body > div.slides-container-tab > div.gallery > div:nth-child(1) > 
  div.card__content.flex-container.col.align-center.center > div > span:after,
  body > div.slides-container-tab > div.gallery > div:nth-child(2) > 
  div.card__content.flex-container.col.align-center.center > div > span:after,
  body > div.slides-container-tab > div.gallery > div:nth-child(3) > 
  div.card__content.flex-container.col.align-center.center > div > span:after,
  body > div.slides-container-tab > div.gallery > div:nth-child(4) > 
  div.card__content.flex-container.col.align-center.center > div > span:after {
    content: "GitHub.";
  }

.card__description {
  padding-right: 17%;
  width: 60vw;
  height: 100vh;
  text-align: left;
  padding-left: 5%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.card__description h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  margin-top: 10vh;
  color: #333;
}

.card__description p {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.8em;
}

.card__tags {
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.card__tags .chip {
  display: inline-block;
  padding: 0 1.8em;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 25px;
  background-color: #f1f3f5;
  font-weight: 500;
  margin-right: 1%;
  margin-top: 2%;

}

.slider__controls {
  position: absolute;
  right: 3vw;
  bottom: -2vh;
}

body > 
  div.responsive-slides-container > 
  div.gallery > div:nth-child(1) > 
  div.flex-container.card__content.col.align-center.center > 
  lottie-player,
  body > div.responsive-slides-container > 
  div.gallery > div:nth-child(2) > 
  div.flex-container.card__content.col.align-center.center > 
  lottie-player,
  body > div.responsive-slides-container > 
  div.gallery > div:nth-child(3) > 
  div.flex-container.card__content.col.align-center.center > 
  lottie-player {
    width: 25em;
    height: 455px;
  }




/* Footer */
#mailbox {
  display: block;
  position: absolute;
  bottom: -25vh;
  left: 16vw;
  height: 60%;
}

#mailboxTab {
  
  display: block;
}

.mailbox__text {
  display: flex;
  align-items: flex-start;
  font-size: 2em;
  font-weight: 300;
  color: #111111;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em 2em 1em 1.2em;
}

.mailbox__subtext {
  font-size: 24px; 
  font-weight: 600; 
  margin-top: 2vh;
}

.mailbox__form {
  
  width: 90%;
}

.footer {
  
  height: 100vh;
}

.footer .mailbox {
  background: white;
  width: 40%;
  height: 100vh;
  padding: 1em;
  justify-content: center;
}

.footer .mailbox span {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.footer .mailbox .subscribe__button .button{
  margin-top: 5vh;
  background: #2173ed;
  border-radius: 35px;
  padding: 1.45em 3em;
  margin-left: 2%;
}

.footer .notes {
  background: #2173ed;
  width: 60%;
  height: 100vh;
  padding: 4em;
  text-align: right;
  justify-content: center;
  align-items: flex-end;
}

.footer .notes h2 {
  color: white;
  font-size: 3em;
  margin-top: -5px;
}

.footer .notes h3 {
  color: white;
  font-size: 1.9em;
  font-weight: 400;
}

.footer .notes p {
  color: white;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 3.6em;
}

.notes__action {
  
  margin-top: 5vh;
}

.notes__action .button {
  padding: 20px 80px;
  width: 25%;
  border-radius: 35px;
  background: white;
  font-weight: 600;
}

.notes__action a {
  text-decoration: none;
}

.notes__action span {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.notes__copy {
  color:black; 
  position: absolute; 
  bottom: 0; 
  font-weight: 400;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

.notes__copy_t {
    text-align: center;
    margin: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 400;
}

.notes__copy_t a {
  color: black;
}


/* Tour guide */

.hero__instructions {
  /* padding: 1em; */
  border-radius: 10px;
  cursor: pointer;
  transform: translate(-270px, 410px) !important;
}

.hero__instructions > div.shepherd-content > footer > button {
  justify-content: flex-start !important;
  margin-bottom: 2vh !important;
}

.scroll__instructions {
  right: 3em !important;
  cursor: pointer;
}

.action__instructions {
  cursor: pointer;
  bottom: 4em !important;
  left: 3em !important;
  transform: translate(0px, -130px) !important;
}

.action__instructions > div.shepherd-arrow {
  
  transform: translate(85px, 0px) !important;
}

.menu__instructions {
  
  cursor: pointer;
}

.shepherd-modal-overlay-container {
  opacity: 0.5;
  height: 100vh;
}

.shepherd-arrow, .shepherd-arrow:before {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: -1;
  /* display: none; */
}

.shepherd-text {
  color: rgba(0,0,0,.75);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
  padding: 1.75em;
  margin-bottom: 1.2em;
}

.shepherd-button {
  background: #2173ed;
  border: 0px;
  border-radius: 35px;
  color: white;
  cursor: pointer;
  margin-right: 1.35rem;
  padding: 0.7rem 2.5rem;
  transition: all .5s ease;
  font-size: 0.9em;
  margin-bottom: 2em;
}

.shepherd-button-skip {
  position: absolute;
  left: 2.2em;
  background: transparent;
  color: #8e8e8e !important;
  padding: 0;
  bottom: 1.7em;
}

.shepherd-button-skip:focus {
  
  outline: none
}

.shepherd-footer {
  
  padding: 0 1.75rem 0.75rem 0.75rem !important;
}

body 
  > div.shepherd-has-title.shepherd-element.scroll__instructions.shadow-md.bg-purple-dark.shepherd-enabled,
  body > 
  div.shepherd-has-title.shepherd-element.action__instructions.shadow-md.bg-purple-dark.shepherd-enabled {
    
    min-width: 550px;  
  }

body 
  > div.shepherd-has-title.shepherd-element.menu__instructions.shadow-md.bg-purple-dark.shepherd-enabled {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(960px, 70px) !important;
    width: 320px !important;
  }

body 
  > div.shepherd-has-title.shepherd-element.menu__instructions.shadow-md.bg-purple-dark.shepherd-enabled > div.shepherd-arrow {
  
  transform: translate(210px, 0px) !important;
  }





/* Responsive layout */

/* Large Resolution Screens */
@media (min-width: 1440px) {
  .slides-container-web {
    width: 70vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .hero h1 {
    
    font-size: 7vw;
  }

  .gallery__banner {
    right: -15%;
    width: 30vw;
  }
}

/* Desktop and Laptops */
@media (max-width: 1440px) {
  .slides-container-web {
    width: 100vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .hero h1 {
    
    font-size: 7vw;
  }

  .gallery__banner {
    right: -9%;
    width: 30vw;
  }
}

/* Small Screen Desktop and Laptop */
@media (max-width: 1200px) {
  .slides-container-web {
    width: 100vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .slides-container-web .hero__banner {
   
    display: none;
  }

  .hero h1 {
    
    font-size: 6em;
  }

  .card__description h1 {
    
    font-size: 2em;
  }
}

/* Tablets Landscape View */
@media (max-width: 1000px) {

  .gallery__banner {
    
    display: none;
  }

  .card__description {
    
    padding-right: 5%;
  }

  .footer {
    flex-direction: row;
    height: 100vh;
  }
}  

@media (max-width: 900px) {

  #mailboxForm {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: -1em;
  }
  .mailbox__form {
    
    width: 35vw;
  }

  .mailbox__text {
    text-align: center;
    padding: 1.2em;
  }

  .mailbox__subtext {
    font-size: 24px;
    font-weight: 600;
    margin-top: 2vh;
    text-align: center;
    width: 100%;
  }

  .footer .mailbox {
    width: 50%;
    justify-content: center;
  }

  .footer .subscribe__button {
    display: flex;
    justify-content: center;
  }

  .footer .mailbox .subscribe__button .button {
    margin-top: 5vh;
    margin-left: 0%;
  }

  .footer .notes {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer .notes h2 {
    font-size: 2em;
    margin-top: -7vh;
    text-align: center;
    width: 100%;
  }

  .footer .notes h3 {
    font-size: 1.5em;
    text-align: center;
  }

  .notes__action {
    
    margin-top: 5vh;
  }

  .notes__action .button {
    
    padding: 2vw 5vw;
  }

  .notes__copy {
    
    right: 6em;
  } 
}

/* Tablets */
@media (max-width: 850px) {

  .slides-container-web {
    display: none;
    visibility: hidden;
  }

  .slides-container-web .hero__avatar_web {
    
    display: none;
  }

  .slides-container-tab {
    display: block;
    visibility: visible;
  }
  
  .slides-container-tab .hero__avatar_tab {
    display: block;
    position: absolute;
    bottom: -30px;
    right: -60px;
    transform: rotate(-5deg);
    height: 40vh;
    z-index: 1;
  }

  .hero h1 {
    font-size: 5em;
    left: 0.78em;
    top: 20vh;
  }

  .gallery {
    height: auto; 
    overflow: visible;
  }

  body > div.slides-container-tab > div.gallery > div:nth-child(1) > div.flex-container.card__content.col.align-center.center > lottie-player,
  body > div.slides-container-tab > div.gallery > div:nth-child(2) > div.flex-container.card__content.col.align-center.center > lottie-player,
  body > div.slides-container-tab > div.gallery > div:nth-child(4) > div.flex-container.card__content.col.align-center.center > lottie-player {
    margin-left: 5em;
    height: 70vh;
  }

  /* Gallery - 3rd child -  xl lottie player and button*/
  body > div.slides-container-tab > div.gallery > div:nth-child(3) > div.flex-container.card__content.col.align-center.center > lottie-player {
    height: 80vh;
    width: 40em;
    position: absolute;
  }

  body > div.slides-container-tab > div.gallery > div:nth-child(3) > div.card__content.flex-container.col.align-center.center > div {
    
    margin-top: 60vh;
  }

  body > div.slides-container-tab > div.gallery > div:nth-child(1) > div.card__content.flex-container.col.align-center.center > div > a > span:after,
  body > div.slides-container-tab > div.gallery > div:nth-child(2) > div.card__content.flex-container.col.align-center.center > div > a > span:after,
  body > div.slides-container-tab > div.gallery > div:nth-child(3) > div.card__content.flex-container.col.align-center.center > div > a > span:after,
  body > div.slides-container-tab > div.gallery > div:nth-child(4) > div.card__content.flex-container.col.align-center.center > div > a > span:after {
    content: "GitHub";
  }
  .card__description h1 {
    font-size: 28px;
    margin-top: 15vh;
  }

  .card__description {
    padding-right: 4%;
    padding-left: 8%;
    padding-top: 5vh;
  }

  .card__description p {
    
    margin-top: 5vh;
  }

  .card__action .button {
    padding: 20px 60px 20px 60px;
    margin: 0;
  }

  .card__tags .chip {
    margin-top: 5%;
    margin-right: 5%;
  }
 
  #mailboxTab {
    position: initial;
    height: 56%;
    margin-top: -2em;
    margin-right: -25em;
    margin-bottom: -5em;
    z-index: 0;
  }

  .footer {
    flex-direction: column;
  }

  .footer .mailbox {
    height: 100vh;
    width: 100%;
    padding-top: 5em;
    display: flex;
    justify-content: end;
  }

  .mailbox__text {
    align-items: center;
    padding: 1.2em;
  }

  .mailbox__form {
    width: 75vw;
    margin: auto;
    margin-top: 0;
  }

  #mailboxForm {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .notes {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em;
    z-index: 1;
  }

  .footer .notes h2 {
    font-size: 3em;
    margin: 0;
    width: auto;
    height: 100vh;
    margin-top: auto;
  }

  .footer .notes h3 {
    width: 80vw;
    margin-top: 10vh;
  }

  .footer .notes p {
    position: relative;
    right: 0;
    bottom: 5vh;
  }

  .notes__action {
    margin-top: 5vh;
  }

  .notes__action .button {
    padding: 1.4em 2.5em;
    color: #2173ED;
    font-size: 1em;
    margin-top: 10vh;
  }

  .notes__copy {
    position: relative;
    margin-top: 30vh;
    right: auto;
    margin-bottom: -15vh;
  }
}

@media (max-width: 700px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    margin-left: 3em;
  }

  .gallery__container_tab {
    flex-direction: column-reverse;
  }

  .card__content, .card__description {
    width: 100%;
    height: 100vh;
  }

  .card__description {
    justify-content: flex-start;
  }

  .card__content {
    flex-direction: row;
    height: 27vh;
  }

  body > div.slides-container-tab > div.gallery > div:nth-child(1) > div.flex-container.card__content.col.align-center.center > lottie-player,
  body > div.slides-container-tab > div.gallery > div:nth-child(2) > div.flex-container.card__content.col.align-center.center > lottie-player,
  body > div.slides-container-tab > div.gallery > div:nth-child(4) > div.flex-container.card__content.col.align-center.center > lottie-player {
    width: 20em;
    margin-left: 0;
  }

  body > div.slides-container-tab > div.gallery > div:nth-child(3) > div.flex-container.card__content.col.align-center.center > lottie-player {
    margin-left: -30vw;
    position: initial;
  }

  body > div.slides-container-tab > div.gallery > div:nth-child(3) > div.card__content.flex-container.col.align-center.center > div {
    margin-top: -10vh;
    margin-left: -17vw;
  }

  body > div.slides-container-tab > div.gallery > div:nth-child(1) > div.card__content.flex-container.col.align-center.center > div > span:after,
  body > div.slides-container-tab > div.gallery > div:nth-child(2) > div.card__content.flex-container.col.align-center.center > div > span:after,
  body > div.slides-container-tab > div.gallery > div:nth-child(3) > div.card__content.flex-container.col.align-center.center > div > span:after {
    content: "GitHub.";
  }

  .card__action .button {
    margin-top: 10vw;
  }

  .card__tags {
    width: 100%;
  }

  .footer .notes {
    padding: 9em;
  }
}

/* Mobile Large */
@media (max-width: 600px) {
 
  .slides-container-tab {
    display: none;
    visibility: hidden;
  }

  .slides-container-tab .hero__avatar_tab {
    
    display: none;
  }

  .slides-container-mob {
    display: block;
    visibility: visible;
  }
  
  .slides-container-mob .hero__avatar_mob {
    display: flex;
    position: absolute;
    height: 40vh;
    right: 0;
    left: 0;
    top: -150px;
    bottom: 20vh;
    z-index: 1;
    margin: auto;
  }

  .hero {
    background: white;
    justify-content: flex-end;
    padding: 2em;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 55vh;
    border-radius: 15px;
    background: #f1f3f5;
    margin: 0;
  }

  .hero__text, .connect__text {
    display: flex;
    font-size: 4vw;
    font-weight: 400;
    line-height: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20vh;
    width: 60vw;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 15vh;
  }

  .hero__text_focus, .connect__text_focus {
    font-size: 5vw;
    font-weight: 500;
  }

  .hero__action {
    height: 3.4rem;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero__action span {
    display: flex;
    justify-content: center;
    padding: 0.7em;
    color: #2173ed;
    font-weight: 600;
    font-size: 0.7em;
    letter-spacing: 1px;
    line-height: 1.2em;
  }

  .hero__action .button {
    flex-direction: row;
    align-items: center;
  }

  .hero__action .project-icon {
    font-size: 1.5em;
    margin-left: 10px;
    padding: 0px;
  }

  .hero__action {
    font: 1.4em Montserrat;
    height: 2.1em;
    width: 8em;
  }

  .hero__content { 
    height: 65vh;
    justify-content: center;
  }

  .hero__text, .connect__text {
    font-size: 4vw;
    width: 70vw;
    margin-top: 20vh;
  }

  .hero__text_focus, .connect__text_focus {
    font-size: 5vw;
  }

  .connect {
    background: #aacaff;
    height: 75vh;
    margin: 1.5em;
    width: 90vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 5em;
  }

  .connect {
    background: #2173ED;
    height: 100vh;
    margin: 0;
    width: 100vw;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0em;
    color: white;
  }


  .connect_button_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;
    height: 30vh;
  }

  .connect__action {
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    outline: none;
    width: 50vw;
    height: 3em;
  }

  body > div.slides-container-mob > div.connect > div.connect_button_group > div:nth-child(2) {
    width: 50vw;
  }

  .connect__action span {
    display: flex;
    justify-content: center;
    padding: 1.2em;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 1.2em;
  }

  .connect__action {
    box-shadow: 
      inset 0 0 15px rgba(55, 84, 170, 0), 
      inset 0 0 20px rgba(255, 255, 255, 0), 
      7px 7px 15px rgba(55, 84, 170, 0.15), 
      -7px -7px 20px #c5dbff, 
      inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 399ms ease-in-out;
    width: 50vw;
  }

  .connect__action:hover {
    box-shadow: 
      inset 7px 7px 15px rgba(55, 84, 170, 0.15), 
      inset -7px -7px 20px #c5dbff, 
      0px 0px 4px rgba(255, 255, 255, 0.2);
  }

  .connect__action {
    box-shadow: 5px 5px 10px #1c62c9, 
             -5px -5px 10px #2684ff;
  }

  .connect__action:hover {
    box-shadow: inset 5px 5px 10px #1c62c9, 
            inset -5px -5px 10px #2684ff;
  }

  .gallery__text {
    font-weight: 400;
    padding: 3em;
    font-size: 4vw;
    text-align: center;
    display: grid;
  }

  .gallery__text_focus {
    font-weight: 500;
    font-size: 5vw;
  }

  .card__content {
    height: 50vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10vh;
  }

  .card__description {
    background: #f1f3f6;
    width: 86vw;
    margin: 1.5em;
    border-radius: 15px;
    height: max-content;
    margin-top: 20vh;
  }

  .card__description h1 {
    font-size: 2em;
    margin-top: -25vh;
  }


  body > div.slides-container-mob > div.gallery > div:nth-child(2) > div > lottie-player,
  body > div.slides-container-mob > div.gallery > div:nth-child(3) > div > lottie-player,
  body > div.slides-container-mob > div.gallery > div:nth-child(5) > div > lottie-player {
    position: relative;
    left: -10vw;
    top: -23vh;
    height: 20em;
  }


  body > div.slides-container-mob > div.gallery > div:nth-child(4) > div > lottie-player {
    position: relative;
    left: -10vw;
    top: -23vh;
    height: 30em;
  }
  
  body > div.slides-container-mob > div.gallery > div:nth-child(2) > div > div:after,
  body > div.slides-container-mob > div.gallery > div:nth-child(3) > div > div:after,
  body > div.slides-container-mob > div.gallery > div:nth-child(4) > div > div:after,  
  body > div.slides-container-mob > div.gallery > div:nth-child(5) > div > div:after {
    content: "GitHub.";
    margin-top: -4vh;
    margin-left: 1.8em;
    font-weight: 700;
    color: #333;
  }

  .card__tags {
    margin-bottom: 20vh;
  }

  .card__tags .chip {
    background: white;
  }

  .card__action {
    margin-top: -10%;
    width: 50vw;
    align-items: baseline;
  }

  .card__action .button {
    padding: 20px 60px 10px 60px;
    width: 20vw;
  }

  #mailboxTab {
    margin-right: -10em;
    margin-bottom: -5em;
  }

  .mailbox__text p{
    font-size: 0.8em;
  }

  .footer .notes {
    padding: 0;
  }

  .footer .notes h2 {
    font-size: 2em;
    height: auto;
    margin: 0;
    margin-top: 10vh;
  }

  .footer .notes h3 {
    font-size: 1.2em;
  }

  .notes__action {
    margin-top: 5vh;
  }

  .notes__action .button {
    font-size: 1em;
  }

  .notes__copy {
    margin-top: 15vh;
    margin-bottom: 0vh;
    font-size: 0.8em;

  }
}

@media (max-width: 400px) {
  

  .hero__action {
    font: 1.4em Montserrat;
    height: 2.1em;
    width: 8em;
  }

  .hero__content { 
    height: 65vh;
    justify-content: center;
  }

  .hero__text, .connect__text {
    font-size: 5vw;
    width: 70vw;
    margin-top: 20vh;
  }

  .hero__text_focus, .connect__text_focus {
    font-size: 6vw;
  }

  .card__content {
    
    height: 50vh;
  }

  .card__action {
    
    margin-top: -25%;
  }

  .card__description {
    width: 85%;
  }

  .card__description h1 {
    
    font-size: 2em;
  }

  body > 
    div.slides-container-tab > 
    div.gallery > div:nth-child(1) > 
    div.flex-container.card__content.col.align-center.center > 
    lottie-player,
    body > div.slides-container-tab > 
    div.gallery > div:nth-child(2) > 
    div.flex-container.card__content.col.align-center.center > 
    lottie-player {
      margin-left: 0em;
      margin-top: -150px;
      width: 17em;
    }


  .footer .mailbox {
    
    margin-top: 5vh;
  }

  #mailboxForm {
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0;
    padding: 0; 
  }

  .mailbox__form {
    
    width: 100vw;
  }

  .mailbox__text {
    align-items: baseline;
    width: 100vw;
    padding: 1.2em;
  }

  .mailbox__subtext {
    
    width: 100%;
  }

  .floating-label-field, .floating-label-wrap {
    
    width: 90%;
  }

  .footer .mailbox .subscribe__button .button {
    padding: 1em;
    width: 100%;
  }

  .footer .subscribe__mobile {
    width: 65%;
    text-align: center;
  }

  .footer .notes h2 {
    font-size: 1.3em;
    margin-top: 20vh;
  }

  .footer .notes h3 {
    font-size: 1.3em;
    margin-top: 10vh;
  }

  .notes__action {
    
    margin-top: 10vh;
  }

  .notes__action .button {
    padding: 1em 4.5em;
  }

  .notes__copy {
    
    margin-top: 30vh;
  }

  .notes__copy_t {
    margin-left: 0;
  }

  .mailbox__text p{
    font-size: 0.8em;
  } 
}

@media (max-width: 350px) {
  .slides-container-mob .hero__avatar_mob {
    left: -2%;
    height: 35vh;
    top: -100px;
  }

  .hero__action {
    height: 2.1em;
    width: 8em;
  }

  .hero__content { 
    height: 65vh;
    justify-content: center;
  }

  .hero__text, .connect__text {
    font-size: 5vw;
    width: 70vw;
    margin-top: 20vh;
  }

  .hero__text_focus, .connect__text_focus {
    font-size: 6vw;
  }

}