/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

svg { cursor: pointer; }


a {
  text-decoration: none;
  color: white;
}

/* Scrollbar configurations */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
 color: #fff;
 background: #0066FF;
}

::selection {
 color: #fff;
 background: #0066FF;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.flex-container {
  display: flex;
}


.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}


.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}


.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}


.list {
  display: list-item;
  list-style: none;
}









/* Header and Top Navigation*/
.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  font-size: 1.1em;
  font-weight: 700;
  padding-left: 2.7em;
}

.header li a, .menu, .hamburger {
  padding: 0px 25px;
  margin-left: 1.2em;
  color: black;
  text-decoration: none;
}

.menu, .hamburger {
  padding-top: 0;
  padding-right: 2em;
}

.menu__1, .menu__2 {
  font-size: 0.9em;
  font-weight: 600;
}

body > div.header > ul > 
li:nth-child(2) > div.menu.row > 
a.menu__2 {
  padding: 0px 2vh;
}

.menu {
  display: flex;
}

/* Menu Toggle */

.hamburger {
  display: none;
}

.hamburger:hover .bar3 {
  width: 25px;
}

.bar1, .bar2, .bar3 {
  height: 3px;
  border-radius: 15px;
  background-color: #000;
  margin: 2px 0;
  transition: 0.4s;
}

.bar1 {
  width: 25px;
}

.bar2 {
  width: 15px;
}

.bar3 {
  width: 5px;
}





/* Form elements */


/* Making the label break the flow */
.floating-label {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 1500;
  color: #2173ED;
}

/* Hide the browser-specific focus styles */
.floating-label-field {
  color: rgba(6, 86, 207, 1);
  border-width: 0;
  z-index: 2000;
}

.floating-label-field:focus {
  outline: 0;
  box-shadow: 0;
}

.floating-label-field::placeholder {
  
  color: rgba(6, 86, 207, .5);
}

/* Make the label and field look identical on every browser */
.floating-label,
.floating-label-field {
  font: inherit;
  line-height: 1;
  display: block;
  width: 100%;
}

.floating-label-field,
.floating-label-wrap {
  position: relative;
  width: 100%;
  margin: 1vh;
}

/* Input Style #1 */
.floating-label-field--s1 {
  transition: border-color .25s ease-in-out;
  color: rgba(255, 255, 255, .75);
  border-bottom: 3px solid rgba(255, 255, 255, .05);
  background-color: transparent;
}

.floating-label-field--s1 + .floating-label {
  transition: transform .25s, 
  opacity .25s ease-in-out;
  transform-origin: 0 0;
  opacity: 1;
}

.floating-label-field--s1 + .floating-label {
  
  z-index: 1500;
}

.floating-label-field--s1:focus + .floating-label,
.floating-label-field--s1:not(:placeholder-shown) + .floating-label {
  
  transform: translate(.25em, -30%) scale(.8);
  opacity: .8;
}

.floating-label-field--s2 {
  
  transition: transform .25s, opacity .25s ease-in-out; 
  /*transition: border-color .25s ease-in-out;*/
  color: #111111;
  /*border: 3px solid rgba(255, 255, 255, .05);*/
  border-bottom: 3px solid rgba(255, 255, 255, .05);
  background-color: transparent;
  /*border-radius: 35px;*/
  font-weight: 700;
  width: 100%;
} 

.floating-label-field--s2: active {
  
  width: 120%;
}
    
.floating-label-field--s2 + .floating-label {
  
  z-index: 1500;
  margin-top: 2%;
  margin-left: 5%;
}


.floating-label-field--s2:focus + .floating-label,
.floating-label-field--s2:not(:placeholder-shown) + .floating-label {
  transform: translate(0.25em, -60%) scale(.8);
  opacity: 1;
  z-index: 2000;
  background: white;
  width: 7vw;
  margin-left: 7%;
  border-radius: 15px;
}

/* Common Styles */
/* Identical inputs on all browsers */
.floating-label-field--s1:focus,
.floating-label-field--s1:not(:placeholder-shown),
.floating-label-field--s2:focus,
.floating-label-field--s2:not(:placeholder-shown) {
  
  border-color: rgba(255, 255, 255, .1);
}


.floating-label-field--s1:valid:not(:placeholder-shown),
.floating-label-field--s2:valid:not(:placeholder-shown) {
  border-color: #2173ED; /*rgba(46, 213, 115, .3); *//* green */
  color: #333;
  font-size: 1em;
  font-weight: 500;
}

.floating-label-field--s1:invalid,
.floating-label-field--s2:invalid {
  border-color: #2173ED; 
}

.floating-label-field--s1:not(textarea), 
.floating-label-field--s2:not(textarea) {
  max-height: 4em;
}

.floating-label-field--s1,
.floating-label-field--s1 + .floating-label,
.floating-label-field--s2,
.floating-label-field--s2 + .floating-label {
  padding: 1.5em;
}


/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {

  opacity: 0.5;
}

.floating-label-field--s1::placeholder {
  color: #2173ED;
}








.back {
  position: absolute;
  bottom: 0rem;
  right: 3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  z-index: 3;
}


.back  p {
  margin: 0;
  margin-left: -2rem;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

.back a {
  display: contents;
  color: black;
}




/* Menu items and Navigation */

.overlay {
  clip-path: circle(0%);
  transform-origin: 20% 40%;
  position: fixed;
  background: #2173ED;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  pointer-events: all;
}

.exit {
  position: absolute;
  left: 3.6em;
  bottom: 1em;
  text-decoration: none;
  height: 50px;
  width: 100px;
  transition: 1s ease;
  pointer-events: all;
  cursor: pointer;
}

.menu__container {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 10vw; 
  margin-top: 5vh;
}

.menu__item {
	cursor: default;
	position: relative;
	padding: 0 5vw;
  text-align: center;
  margin: 1vh 0px;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 1.5px #000;
	text-stroke: 1.5px #000;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;
}

.menu__item-link::before {
	all: initial;
	counter-increment: menu;
	content:  counter(menu);
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 1s;
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 10vw;
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



/* Responsive layout */

/* Large Resolution Screens */
@media (min-width: 1440px) {
  .header ul {
    width: 70vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Desktop and Laptops */
@media (max-width: 1440px) {
  .header ul {
    width: 100vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Tablets Landscape View and Small Screen Desktop and Laptop */
@media (max-width: 1200px) {

}

/* Tablets */
@media (max-width: 850px) {
  
  .menu {
    display: none;
  }

  .hamburger {
    display: flex;
    margin-right: 2em;
  }
  
}

@media (max-width: 600px) {
  .header li a, .menu, .hamburger  {
    margin-left: 0;
    padding-left: 1em;
  }

  .hamburger {
    margin-right: 0;
  }

}
